/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/ActivityRecognition683127.iml
/.idea/ActivityRecognition683127.iml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_14_07_2021_09_56_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_14_07_2021_09_56__Default_Changelist_.xml
/.idea/workspace.xml
/csv-plugin.xml
/.idea/csv-plugin.xml
